conda install geemap;
conda install geopandas;
conda install jupyter-server-proxy;
conda install keplergl;
conda install leafmap;
conda install localtileserver;
conda install nbserverproxy;
conda install owslib;
conda install palettable;
conda install plotly;
conda install streamlit==1.12.2;
conda install streamlit-bokeh-events;
conda install streamlit-folium;
conda install streamlit-keplergl;
conda install tropycal;


#pip uninstall -y (pip freeze)